/*
COLORS:
*/
$color-primary: #96e0bc;
$color-primary-dark: #87bba2;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #616b66;
$color-grey-dark-2: #414946;

$color-pale-gold: #ebbe9b;

$color-white: #fff;
$color-black: #000;
